__pycache__/
*.py[cod]
.venv/
venv/
data/*.csv
*.crc
_SUCCESS
.spark-warehouse/
derby.log
metastore_db/
.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/
Alter-Code/
output/*.parquet
output/lr_model/
output/cleaned_reviews.csv
output/
